.main {
    width: 60%;
    min-width: 600px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 20px;
}

select,
input {
    margin-bottom: 28px;
    height: 34px!important;
}

label {
    display: inline-block;
    margin-bottom: 3px;
}

button.add-address {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    height: 31px;
    margin-bottom: 18px;
    width: auto;
    padding: 7px 10px;
    height: auto;
}

button.add-address:active {
    border-color: #a88734 #9c7e31 #9c7e31;
    background-color: #f0c14b;
    background-image: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}

.inline-block {
    display: inline-block!important;
    width: auto!important;
}

select {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    line-height: 31px;
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
    color: #111;
    font-size: 13px;
    white-space: nowrap;
    margin-bottom: 18px;
}

.create-account-inner {
    height: 100%;
    width: 100%;
    display: block;
}
