.main {
    width: 60%;
    min-width: 600px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 5px;
}

.hr {
    margin: 20px 0;
    border-bottom: 1px solid lightgrey;
}

.box {
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: #efefef;
    padding: 15px;
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}

.box .left {
    float: left;
    width: 50%;
}

.box .name {
    margin-bottom: 4px;
}

.box .num {
    float: right;
    width: 50%;
}

a {
    text-decoration: none;
    color: #0066c0;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

h3 {
    margin: 2px 0;
}

.add-card {
    margin: 20px 0;
}

.form {
    padding: 5px;
}

.please {
    margin-bottom: 20px;
}

div.people,
div.no,
div.time {
    display: inline-block;
    width: 26%;
    height: 60px;
    margin-right: 10px;
}

div.cvv2 {
    width: 12%;
    display: inline-block;
}

div.people label,
div.no label,
div.time label,
div.cvv2 label {
    display: block;
    margin-bottom: 3px;
}

div.cvv2 .value {
    width: 100%!important;
}

.time select {
    width: auto;
    min-width: 50px;
}

button {
    display: block;
    width: auto;
    padding: 10px;
}

button.submit-card {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    height: 31px;
    margin-bottom: 18px;
    width: auto;
    padding: 7px 10px;
    height: auto;
    margin-top: 20px;
}

button.submit-card:active {
    border-color: #a88734 #9c7e31 #9c7e31;
    background-color: #f0c14b;
    background-image: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}