*, *::after, *::before {
    box-sizing: border-box;
}

button,
select,
input[type=text],
input[type=password] {
    width: 100%;
    background-color: white;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    margin-right: 0;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}

button {
    outline: none;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

button:focus,
input[type=text]:focus,
input[type=password]:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
