.main {
    width: 35%;
    margin: 40px auto;
    color: #484848;
    font-size: 13px;
}

h5 {
    margin: 5px 0 1px 0;
    color: black;
}

.login {
    background-image: url('../jsp/images/LOGIN01.png');
    width: 100px;
    height: 80px;
    background-size: 100% 100%;
}

input {
    height: auto!important;
    border-radius: 0!important;
    outline: none!important;
    margin-left: 3px;
    box-sizing: border-box;
}

.group {
    clear: both;
    overflow: hidden;
    margin-bottom: 2px;
}

.group .key {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 15px;
}

.group .value {
    float: right;
    width: 50%;
    text-align: left;
}

button {
    border-radius: 0!important;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    color: white;
    background-color: #ff6b23;
    text-align: center;
}

a {
    text-decoration: underline;
}