@import './normalize.css';
@import './common.css';

body {
    color: #111;
    line-height: 19px;
    font-size: 13px;
}

.main {
    width: 350px;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 26px;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.control-group {
    margin-bottom: 14px;
    width: 100%;
}

.control-group label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    color: #111;
    line-height: 19px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #0066c0;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

.control-group.password {
    clear: both;
}

.control-group.password .left {
    float: left;
}

.control-group.password .right {
    float: right;
}

button.login {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    height: 31px;
    margin-bottom: 18px;
}

button.login:active {
    border-color: #a88734 #9c7e31 #9c7e31;
    background-color: #f0c14b;
    background-image: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}

.item {
    padding-left: 4px;
    margin-bottom: 26px;
}

.desc .desc-icon {
    background-image: url('../images/sprite.png');
    margin: 8px 0 0 .385em;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: .6;
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
}

.beginer {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.beginer:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.beginer h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
    margin: 0;
}

.create-account {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 100%;
    height: 31px;
    text-align: center;
    line-height: 31px;
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
    color: #111;
    font-size: 13px;
    white-space: nowrap;
    margin-bottom: 18px;
}

.create-account-inner {
    height: 100%;
    width: 100%;
    display: block;
}

.create-account:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #111;
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
}

.create-account:active {
    border-color: #adb1b8 #a2a6ac #a2a6ac;
    background-color: #dcdfe3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
    background-color: #e7e9ec;
    background-image: none;
}

.create-account:focus,
.create-account:active {
    outline: 0;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}
.create-account:active .create-account-inner {
    box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}

.ok {
    font-size: 12px;
    line-height: 1.5;
}

.a-popover-loading {
    min-width: 75px;
    height: 75px;
    border: 0;
    width: 75px;
    background: url(https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-spinner_gray_2x-d4dc5be75361ec92bee9941f2c6e86cab26fe388._V2_.gif) 50% 50% no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-resolution:144dpi) {
    .a-popover-loading {
        background:url(https://images-cn.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-spinner_gray_4x-4a8ee04fbf4db7e236087039869e2b58d2115500._V2_.gif) 50% 50% no-repeat;
        background-size: 50px
    }
}

.a-popover-loading-wrapper {
    min-width: 120px
}

.a-popover-preload {
    display: none
}

.a-popover-hidden {
    visibility: hidden!important
}

.a-popover-transparent {
    opacity: 0
}

.a-popover {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1010;
    padding: 8px;
    max-width: 440px
}

.a-popover.hidden {
    display: none;
}

.a-icon.a-icon-close {
    background-image: url('../images/sprite.png');
    background-position: -297px -5px;
    width: 10px;
    height: 9px;
    opacity: .64;
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.a-popover .a-button-close {
    display: block;
    zoom: 1;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    padding: 8px;
    position: absolute;
    line-height: 0;
    right: 0;
    left: auto;
    width: 33px;
    float: none;
    bottom: 1px;
    height: 33px;
    top: 1px;
    box-shadow: none;
}

.a-popover:focus {
    outline: 0
}

.a-popover :active .a-button-inner {
    background: !important;
}

.a-popover-wrapper {
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.13);
    background-color: #fff
}

.a-popover-inner {
    background-color: #fff;
    padding: 14px 18px;
    text-align: left;
    overflow-x: hidden
}

.a-popover-inner .a-button-close {
    position: static;
    margin: -10px -14px 6px 6px
}

.a-popover-inner dl:last-child,.a-popover-inner ol:last-child,.a-popover-inner p:last-child,.a-popover-inner ul:last-child {
    margin-bottom: 0
}

.a-popover-header {
    position: relative;
    text-align: left;
    background: #f2f2f2;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #cdcdcd;
    border-bottom-color: rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 -1px 0 rgba(255,255,255,.4) inset;
    padding: 0 14px;
    margin: 0;
    z-index: 10
}

.a-popover-header .a-popover-header-content {
    min-height: 35px;
    line-height: 16px;
    padding: 10px 0 9px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 20px
}

.a-popover .a-arrow,.a-popover .a-arrow-border {
    border: 8px solid transparent
}

.a-popover .a-arrow {
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    z-index: 1011
}

.a-popover .a-arrow-border {
    position: absolute
}

.a-popover.a-arrow-right .a-arrow-border {
    left: 0;
    margin-top: -8px;
    border-left: 0;
    border-right-color: rgba(0,0,0,.2)
}

.a-popover.a-arrow-right .a-arrow {
    top: -8px;
    left: 1px;
    border-left: 0;
    border-right-color: #fff
}

.a-popover.a-arrow-left .a-arrow-border {
    right: 0;
    margin-top: -8px;
    border-right: 0;
    border-left-color: rgba(0,0,0,.2)
}

.a-popover.a-arrow-left .a-arrow {
    top: -8px;
    right: 1px;
    border-right: 0;
    border-left-color: #fff
}

.a-popover.a-arrow-top .a-arrow-border {
    bottom: 0;
    margin-left: -8px;
    border-bottom: 0;
    border-top-color: rgba(0,0,0,.2)
}

.a-popover.a-arrow-top .a-arrow {
    bottom: 1px;
    right: -8px;
    border-bottom: 0;
    border-top-color: #fff
}

.a-popover.a-arrow-bottom .a-arrow-border {
    top: 0;
    margin-left: -8px;
    border-top: 0;
    border-bottom-color: rgba(0,0,0,.2)
}

.a-popover.a-arrow-bottom .a-arrow {
    top: 1px;
    right: -8px;
    border-top: 0;
    border-bottom-color: #fff
}

.a-popover:focus {
    outline: 0
}

.a-popover .a-popover-a11y-offscreen {
    opacity: 0;
    overflow: hidden!important;
    display: block!important;
    width: 1px!important;
    height: 1px!important;
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    position: absolute!important;
    left: 0!important
}

.a-popover .a-popover-start {
    top: 1px!important
}

.a-popover .a-popover-end {
    bottom: 1px!important
}

.a-popover-trigger:hover {
    cursor: pointer
}

.a-popover-trigger:hover .a-icon-popover {
    opacity: .85
}
.error{
    color:red;
}