.a-container {
    min-width: 0;
}

.hidden {
    display: none;
}

.breadcrumbArrow {
    color: #767676 !important;
    font-size: 18px;
}

#walletWebsiteContentColumn {
    /* both specified by mocks */
    min-width: 450px;
    max-width: 700px;
}
#viewOneClickDesktopSection {
    /* Set the same width as the MPO page. */
    width: 950px;
}

#walletWebsiteContainer, #manageOneClickWebsiteContainer {
    margin: 0;
    padding: 20px 24px;
}

#manageOneClickWebsiteContentColumn, #myInvoicesPageContentColumn {
    /* Set the same width as the MPO page. */
    width: 950px;
}

#myInvoicesPageContainer .a-box-title:not(.a-first) .a-box-inner {
    border-radius: 0px;
}

.a-alert-error .a-alert-container h4 {
   color: #C40000;
}

.leftNavbarSection {
    /* Width is specified by mocks */
    width: 200px;
    display: table;
    border-collapse: collapse;
}

.leftNavbarRow {
    display: table-row;
}

.leftNavbarColumn {
    border-top: 1px solid;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    display: table-cell;
    border-color: #767676;
}

.leftNavbarColumn.first {
    border-top: 0px none;
}

.linkSection {
    padding-top: 20px;
    padding-bottom: 20px;
}

.linkSection.first {
    padding-top: 0px;
}

.linkSection a {
    padding-bottom: 10px;
    display: inline-block;
}

.pageCenteredSection {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rhf {
    display: none;
}

.centeredContent {
    margin: auto;
    max-width: 998px;
}